/* @import "storyList.css"; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');
body {
}

.container{
    width: 1100px;
    max-width: none !important;
    margin-right: auto;
    margin-left: auto;
}
/* 콘텐츠 */
.contents{
    float: right;
    width: 1200px;
    min-height: 800px;
    border: 1px solid #e6e7e8;
    border-radius: 5px;
    padding: 0 0 20px 0;
    background: #fff;
}
.preview{
    width: 100%;
    height: 100%;

}
.img_title{
    vertical-align: top;
    width: 500px;
    height: 500px;
    /* background-color: fff; */
}
.poto {
    display: flex;
    justify-content: center;
}

.tag {
    width: 200px; 
    height: 200px; 
    margin-left: 251px;
    margin-top: 50px;
}
.btn_area {
    position: absolute;
    margin: 30px auto 0;
    text-align: center;
    float:right;
    padding-left: 210px;
}
.btn_color {
    cursor: pointer;
    background: #918c00;
    color: black;
    display: inline-block;
    width: 140px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    font-size: 16px;
}
.filebox label {
    display: block;
    padding: .5em .75em;
    color: #fff;
    font-size: inherit;
    line-height: normal;
    background-color: #918c00;
    cursor: pointer;
    border: 1px solid #918c00;
    border-radius: .25em;
}

.filebox input[type="file"] {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
