@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

body {
	width: 100%;
	height: 100%;
	padding: 10px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}

#wrap {
	width: 1200px;
	margin: 0 auto;
	/* padding: 0 0 0 1%; */
	height: 100%;
}

.header {
	text-align: center;
}

.header a img {
	position: relative;
	margin:40px
}

.user-area {
	text-align: right;
}

.user-area-menu {
	padding: 0;
	margin: 0;
	list-style-type: none;
	position: relative;
	top : 50px;
}

.user-area-menu li {
	letter-spacing: 1.5px;
	display: inline-block;
}

.user-area-menu a {
	color: #000000;
	display: block;
	text-align: center;
	/* padding: 14px 16px; */
	text-decoration: none;
}

.nav {
	width: 70%;
	padding: 0;
	margin: 0;
	float: left;
}

.nav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.nav li {
	letter-spacing: 1.5px;
	display: inline-block;
}

.nav .myMenu a {
	text-decoration: none;
	color: black;
	padding: 20px 25px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

.direct-search {
	padding: 0;
	width: 300px;
	display: inline-block;
	/* float: left; */
	position: relative;
	margin-right: 17px;
	height: 35px;
	line-height: 33px;
	vertical-align: bottom;
	background: #f5f5f5;
	border-radius: 18px;
	text-indent: 20px;
	text-align: left;
}

.direct-search input {
	line-height: 30px;
	width: 80%;
	border: 0;
	font-size: 14px;
	background: transparent;
}

.direct-search input:focus{
	ouline:none;
}

.direct-search a {
	position: absolute;
	right: 10px;
	top: 3px;
	display: inline-block;
	vertical-align: middle;
}
.user-area-menu>.menu-li:hover {
	transform: scale(1.1);
	transition: 0.5s;
}
.user-area-menu>.loginok {
    position: relative;
    
}
.user-area-menu>.loginok:hover .mypage {
    display: block;
}
.user-area-menu>.loginok:hover {
	transform: scale(1.1);
	transition: 0.5s;
}
.loginok .mypage {
  display: none;
  position: absolute;
}
.mypage {
  display: inline-block;
  background: #ececec;
  border-radius: 5px;
  width: 72px;
}
.mypage a {
  font-size: 12px;
  font-weight: lighter;
}
.mypage>li a:hover {
	color: #c5c141fb;
}
#regblock {
  display: block;
  background: #ececec;
  border-radius: 5px;
  width: 72px;
}
.video-con {
  width: 100%;
  height: 720px;
  overflow: hidden;
}
.video-con video{
  width: 100%;
  overflow: hidden;
  position: relative;
}

.text-con img{
  position: absolute;
  width: 750px;
  height: 270px;
  top: 600px;
  left: 40px;
}
.search-con {
  position: absolute;
  top: 800px;
  right: 100px;
}
.search-con input:focus {
  outline: none;
}
.search-con input{
  width: 600px;
  height: 70px;
  border: 3px solid rgba(255, 255, 255, 0.205);
  border-left: none;
  border-right: none;
  border-top: none;
  background: transparent;
  text-align: right;
  caret-color: #918c00;
  font-size: 30px;
}
.search-con input::placeholder {
  color: rgba(255, 255, 255, 0.342);
  font-weight: lighter;
  font-size: 30px;
}

video::-webkit-media-controls-panel {
display: none !important;
opacity: 1 !important;
}
.story-go {
	width: 100%;
	height: 900px;
}
.imgback {
	width: 100%;
	position: relative;
	overflow: hidden;
}
.imgtext {
	width:100%;
	position: absolute;
	overflow: hidden;
	top: 1700px;
	left: 100px;
}
.Btn {
	font-family: 'Noto Sans KR', sans-serif;
	position: absolute;
    border-radius:8px;
    display:block;
    cursor:pointer;
    color: #ffff;
    font-size:13px;
    padding:10px 25px;
    text-decoration:none;
    border: none;
    top:2340px; 
    right: 300px;
}
  .Btn:hover {
    font-weight: bold;
  }
#footer {
	position: relative;
	width: 100%;
	min-width: 1200px;
	margin-top: 50px;
	border-top: 1px solid #f1f1f1;
	float: left;
	background: #fff;
	color: #ddd;
	letter-spacing: 1px;
}

#footcenter {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px 0px 0 0px;
}

.footcall, .footre, #footright {
	height: 140px;
	color: #000;
	font-size: 12px;
}

.footcall {
	float: left;
	width: 680px;
	margin: 0 30px 40px 0;
	padding: 0 10px 0 0;
	border-right: 1px solid #eee;
}

.footre {
	float: left;
	width: 180px;
	margin: 0 10px 40px 0;
	padding: 0 40px;
	border-right: 1px solid #eee;
}

#footright {
	float: left;
	text-align: left;
	padding: 0 0 0 60px;
}

#footright p {
	line-height: 20px;
	font-weight: 600;
	font-size: 11px;
}

a {
	text-decoration: none;
	color: #222;
}

#footer h2 {
	font-size: 11px;
	font-weight: 600;
	padding: 0 0 10px;
	color: #000;
	letter-spacing: 1px;
}

.footcall ul {
	margin: 0 0 10px;
}

.footcall .callnum {
	font-size: 17px;
	font-weight: 900;
	line-height: 35px;
}

.footcall li {
	line-height: 20px;
	font-size: 11px;
	font-weight: 25;
}

#footer li {
	list-style: none;
}

#footer ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}