@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');
.loginbox {
  width: 450px;
  height: 850px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  font-family: 'Noto Sans KR', sans-serif;
}
form {
  width: 100%;
}
.login {
  width: 450px;
  height: 600px;
  border: 1px solid lightgrey;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  color: black;
  font-size: 2em;
  margin-bottom: 50px;
}
.login_id {
  margin: 0 auto;
  width: 80%;
}
.login_id input {
  width: 80%;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid lightgrey;
  outline: none;
}
.login_pw {
  margin:0 auto;
  width: 80%;
}

.login_pw input {
  width: 80%;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.submit {
  width: 80%;
  margin: 0 auto;
  padding: 40px;
}

.submit input {
  width: 100%;
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 40px;
  background: white;
  color: gray;
  font-size: 1.2em;
  letter-spacing: 2px;
}

ul.tabs li {
  background: none;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}
ul.tabs li.current {
  border: 1px solid lightgray;
  border-radius: 20px;
}

.tab-content {
  display: none;
  padding: 15px;
}

.tab-content.current {
  display: inherit;
}
