.main_layout{
    margin: 20px;
        text-align: center;
    
    }
    
    .amount{
        list-style:none;
        position: relative;
        top:auto;
        display: flex;
        width: 1280px;
        margin: auto;
       
    }
    .amount > li{
        flex: 1;
        text-align: center;
        height: 80px;
        margin: 37px;
        border: 1px solid black;
        padding: 10px;
        box-shadow: -5px 0px 10px rgba(0,0,0,0.2);
        overflow: hidden;
    }
    .contents1{
    overflow: hidden;
    background-color: rgb(81, 81, 187);    
    height: 30px;
    margin: 37px;
    }
    .result{
        overflow: hidden;
    text-overflow: ellipsis;
     height: 30px;
    margin: 37px;
    }
   
    
    #content{
        position: static;
        top: auto;
        width: 1000px;
//        background-color: blanchedalmond;
        display: inline-block;
        padding: 10px;
  	    border:1px solid #ccc;
  
    }
    .close{
        float: right;
        cursor: pointer;
    }
    
    body {
    
    font-family: Arial;
    
    }
    
    .qnawrite{
        display: inline-block;
       background-color: blueviolet;
     
    }
    #btn{
        float: left;
         
     }
    .boxTitle{
        text-align: center;
    }
    .main_layout{
    margin: 20px;
        text-align: center;
    
    }
    .qnaList_div{
        background-color: brown;
    }
    body {
    
    font-family: Arial;
    
    }
    
    .tab {
    
    overflow: hidden;
    
    border: 1px solid #ccc;
    
    background-color: #f1f1f1;
    
    }
    
    .tab button {
    
    float: left;
    
    border: none;
    
    outline: none;
    
    cursor: pointer;
    
    padding: 14px 16px;
    
    font-size: 17px;
    
    }
    
    .tab button:hover {
    
    background-color: #ddd;
    
    }
    
    .tab button.active {
    
    background-color: #ccc;
    
    }
    
    .tabcontent {
    
    /* display: none;
     */
    padding: 6px 12px;
    
    border: 1px solid #ccc;
    
    border-top: none;
    
    }
